.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    max-width: 1440px;
    padding: 2rem 2rem;
    width: 100%;
}

.header {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    color: #333;
    font-size: 2rem;
    font-weight: 600;
}

/* SELECT de Catálogo */

.selectIcon {
    color: #555;
    pointer-events: none;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
}

.selectWrapper {
    width: 240px;
}

.select {
    font-size: 1rem;
}

/* GRID de Produtos */

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr); /* 4 colunas fixas */
    align-items: stretch;
}

/* RESPONSIVIDADE */

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 640px) {
    .selectWrapper {
        width: 100%;
    }

    .title {
        font-size: 1.5rem;
    }

    .select {
        font-size: 0.95rem;
        padding: 0.5rem 2rem 0.5rem 1rem;
    }

    .selectIcon {
        font-size: 1rem;
        right: 0.75rem;
    }
}
